.chat-main
  .chat-main__group-info
    .chat-main__grpoup-info--left-box
      .chat-main__group-info--current-group
        test
      .chat-main__group-info--member-list
        members
    .chat-main__group-info--btn
      = link_to "#", class: "edit-btn" do
        Edit
  .chat-main__message-list
    .chat-main__message-list--message
      .chat-main__message-list--upper-info
        .chat-main__message-list--talker
          test-name
        .chat-main__message-list--date
          2019-12-xx
      .chat-main__message-list--message-text
        test-message
  .chat-main__message-form
    .chat-main__message-form--input-box 
      .chat-main__message-form--input-box-text
        type a message
      %label.chat-main__message-form--input-box-image
        = icon('fa', 'image')
        %input{type: "file",class: "hidden"}
    .chat-main__message-form--submit-btn
      Send